<%= render "shared/header" %>

<div class="success-top">
  <div class="success">
    <h2>сѓбсѓФсѓдсЃ│сЃѕТЃЁта▒сѓњТЏ┤Тќ░сЂЌсЂЙсЂЌсЂЪсђѓ</h2>
    <%= link_to '­ЪЉЅTOPсЃџсЃ╝сѓИсЂИ', root_path, class: "register-deepskyblue-btn" %>
  </div>
</div>

<%= render "shared/footer" %>