.main {
  width: 100vw;
}

.item-lists {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-index-list {
  width: 230px;
  height: 230px;
  padding: 1vw;
  background-color: #FFF;
  list-style: none;
  border: royalblue solid 2px;
  margin: 1vh 1vw;
  border-radius: 30px;
}

.item-img-content {
  position: relative;
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.item-index-image {

}

.item-name {
  font-size: 2.5vh;
}

.images {
  width: 130px;
  height: 130px;
}

.item-index-price {
  font-size: 15px;
  text-align: right;
  font-weight: 600;
}

.item-nickname-follow {
  display: flex;
  justify-content: flex-end;
}

.item-index-nickname {
  
}

.item-follow {
  margin-left: 5px;
}