<%= render "shared/header" %>

<div class="success-top">
  <div class="success">
    <h2>投稿しました。</h2>
    <%= link_to '👉新着一覧ページへ', items_path, class: "register-deepskyblue-btn" %>
  </div>
</div>

<%= render "shared/footer" %>