<%= render "shared/header" %>

<div class="success-top">
  <div class="success">
    <h2>投稿を削除しました。</h2>
    <%= link_to '👉TOPページへ', user_path, class: "register-deepskyblue-btn" %>
  </div>
</div>

<%= render "shared/footer" %>