<%= render "shared/header" %>

<div calss='main'>

<%# アイテム一覧表示 %>
<% @items.each do |item| %>
  <li class='list'>
    <%= link_to item_path(item.id) do %>
      <h2 class='item-title'>
        <%= item.name %>
      </h2>
    <% end %>
  </li>
<% end %>

</main>

<%= render "shared/footer" %>